<!doctype html>
<body>
	<h3>Prediksi kelulusan Mahasiswa</h3>

<div>
<form action="/result" method="POST">
    <label for="gender">Jenis Kelamin</label>
    <select id="gender" name="gender">
	<option value="1">Pria</option>
	<option value="0">Wanita</option>
	</select>
	<br>
    <label for="work">Status Kerja</label>
    <select id="work" name="work">
	<option value="0">Mahasiswa</option>
	<option value="1">Bekerja</option>
	</select>
	<br>
    <label for="age">Umur</label>
    <input type="number" name="age" id="age">
    <br>
    <label for="married">Status Nikah</label>
    <select id="married" name="married">
	<option value="0">Lajang</option>
	<option value="1">Menikah</option>
	</select>
	<br><br>
    <label for="ips1">IPS Semester 1</label>
    <input type="number" name="ips1" id="ips1" step=".01">
    <br>
    <label for="ips2">IPS Semester 2</label>
    <input type="number" name="ips2" id="ips2" step=".01">
    <br>
    <label for="ips3">IPS Semester 3</label>
    <input type="number" name="ips3" id="ips3" step=".01">
    <br>
    <label for="ips4">IPS Semester 4</label>
    <input type="number" name="ips4" id="ips4" step=".01">
    <br>
    <label for="ips5">IPS Semester 5</label>
    <input type="number" name="ips5" id="ips5" step=".01">
    <br>
    <label for="ips6">IPS Semester 6</label>
    <input type="number" name="ips6" id="ips6" step=".01">
    <br>
    <label for="ips7">IPS Semester 7</label>
    <input type="number" name="ips7" id="ips7" step=".01">
    <br>
    <label for="ips8">IPS Semester 8</label>
    <input type="number" name="ips8" id="ips8" step=".01">
    <br>
        
	<input type="submit" value="Perdiksi">
</form>
</div>
</body>
</html>
